.dashboard {
  width: 100%;
}


.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 260px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

.button {
  padding: 10px 15px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #1d4ed8;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}
