.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111827;
  padding: 15px 25px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav a:hover {
  color: #38bdf8;
}

.logoutBtn {
  background-color: #ef4444;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.logoutBtn:hover {
  background-color: #dc2626;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1f2937;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    display: none;
  }

  .active {
    display: flex;
  }
}
